body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  /*   background-image: url(assets/imgs/containerBG.png);
  background-position: center;
  background-repeat: repeat-y;
  background-size: initial; */
}

.background {
  background-color: rgb(241, 241, 241);
}

.styleBox {
  background-color: rgb(238, 238, 238);
  padding: 32px;
  margin-bottom: 46px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 1px 16px 50px 14px rgba(0, 0, 0, 0.39);
  box-shadow: 0px 10px 13px -7px #000000, 1px 16px 50px 14px rgba(0, 0, 0, 0.39);
  border-radius: 45px;
}

.mainBlockPage {
/*     background-color: rgba(255, 255, 255, 0);
    background-image: url(assets/imgs/clocksBG.jpg);
    background-repeat: cover;
    background-blend-mode: luminosity; */
  /*   -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0); */
}

/* MAIN TOP HEADER JUMBOTRON */

.jumbotron {
  background-image: url(assets/imgs/clocksBG.jpg);
  text-align: center;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border-radius: 0;
  border-bottom: 10px solid black;
}

.navArrow:hover {
  background-color: rgb(8, 136, 165);
  transform: scale(1.15);
}

.navArrow:active {
  background-color: rgb(8, 136, 165);
  transform: scale(0.95);
}

/* DAY DESCRIPTION ENTRY */

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  padding-bottom: 4px;
  /*   border-top: 1px solid white; */
}

/* LEFT HOUR BLOCK */

.hourEntry {
  background: #F0F0F0;
  background: -moz-linear-gradient(45deg, #F0F0F0 0%, #E8E8E8 50%, #F0F0F0 100%);
  background: -webkit-linear-gradient(45deg, #F0F0F0 0%, #E8E8E8 50%, #F0F0F0 100%);
  background: linear-gradient(45deg, #F0F0F0 0%, #E8E8E8 50%, #F0F0F0 100%);
  font-size: 20px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, inset 41px 40px 50px -80px rgba(92, 92, 92, 0.014); 
  box-shadow: 0px 10px 13px -7px #000000, inset 41px 40px 50px -80px rgba(82, 81, 81, 0.007);
  margin-bottom: 4px;
  background-color:rgb(255, 255, 255);
  /*   -webkit-box-shadow: 0px 10px 13px -7px #000000, inset 0px 6px 50px 3px rgba(0,0,0,0.13); 
  box-shadow: 0px 10px 13px -7px #000000, inset 0px 6px 50px 3px rgba(0,0,0,0.13); */
}

.hour {
  color: rgb(0, 0, 0);
  border-top: 1px dashed #000000;
  border-left: 1px dashed #000000;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-top: 20px;
  font-size: 20px;
  font-weight: 400;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, inset 41px 40px 50px -80px rgba(92, 92, 92, 0.014); 
  box-shadow: 0px 10px 13px -7px #000000, inset 41px 40px 50px -80px rgba(82, 81, 81, 0.007);
  
}

.hour:nth-child(even) {
  /* NOT WORKING */
  background-color: #5f5c5c !important;
  color: #fa5d5d;
}

/* TIME COLORING (PAST/PRESENT/FUTURE) */

.past {
  background-color: #c0bdbd !important;
  color: black;
}

.past:hover {
  background-color: #8f8e8e !important;
  color: white;
  cursor: pointer;
}

.present {
  background-color: #ff6961 !important;
  color: white;
}

.present:hover {
  background-color: #ee534b !important;
  cursor: pointer;
}

.future {
  background-color: #77dd77 !important;
}

.future:hover {
  background-color: #4bd44b !important;
  cursor: pointer;
}

/* RIGHT SAVE BTN */

.pageBtn {
  border-left: 1px solid rgb(55, 28, 131);
  background-color: #06AED5;
  color: white;
  margin-bottom: 2px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, inset 41px 40px 50px -80px rgba(92, 92, 92, 0.014); 
  box-shadow: 0px 10px 13px -7px #000000, inset 41px 40px 50px -80px rgba(82, 81, 81, 0.007);
}

.pageBtn:last-child {
  border-left: 1px solid rgb(55, 28, 131);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(17, 82, 97);
  color: white;
  margin-bottom: 2px;
}

.pageBtn:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.pageBtn:active {
  background-color: lawngreen;
  background-color: rgb(8, 136, 165);
  transform: scale(0.95);
}

.deleteEntryBtn {
  border-left: 1px solid rgb(55, 28, 131);
  margin-bottom: 2px;
  font-size: 18px;
  transition: step-start .3s ease-in-out;
  display: none;/* 
  -webkit-box-shadow: 0px 10px 13px -7px #000000, inset 41px 40px 50px -80px rgba(92, 92, 92, 0.014); 
  box-shadow: 0px 10px 13px -7px #000000, inset 41px 40px 50px -80px rgba(82, 81, 81, 0.007); */
}



.deleteEntryBtn:hover {
  font-size: 22px;
  transition: all .3s ease-in-out;
}