body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

/* MAIN TOP HEADER JUMBOTRON */

.jumbotron {
  background-image: url(assets/imgs/clocksBG.jpg);
 
  text-align: center;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border-radius: 0;
  border-bottom: 10px solid black;
}


.navArrow:hover {
  background-color: lawngreen;
  background-color: rgb(8, 136, 165);
  transform: scale(1.15);
}
.navArrow:active {
  background-color: lawngreen;
  background-color: rgb(8, 136, 165);
  transform: scale(0.95);
}
/* DAY DESCRIPTION ENTRY */

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

/* LEFT HOUR BLOCK */

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  padding-top: 20px;
}

/* TIME COLORING (PAST/PRESENT/FUTURE) */

.past {
  background-color: #c0bdbd;
  color: black;
}
.past:hover {
  background-color: #8f8e8e;
  color:white;
  cursor: pointer;
}

.present {
  background-color: #ff6961;
  color: black;
}

.present:hover {
  background-color: #ee534b;
  cursor: pointer;
}

.future {
  background-color: #77dd77;
}

.future:hover {
  background-color: #4bd44b;
  cursor: pointer;
}

/* RIGHT SAVE BTN */

.saveBtn {
  border-left: 1px solid rgb(55, 28, 131);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  /* padding: 35px; */
  margin-bottom: 2px;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.saveBtn:active {
  background-color: lawngreen;
  background-color: rgb(8, 136, 165);
  transform: scale(0.95);
}